
.cross{
    margin-left: 210px;
    cursor: pointer;
    font-size: 30px;
}
.authform{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.8);
    /* background-color: #eee; */
    z-index: 50;
    position: absolute;
}
.mobile-left-field{
  margin-right: 20px;
}
.authform-mobile{
    height: 100vh;
    /* width: 100px; */
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.8);
    /* background-color: #eee; */
    z-index: 50;
    position: absolute;
}
.authform-span{
  /* font-size: 15px !important; */
}
.authform-input{
  /* width: 300px !important; */
  padding: 25px !important;
}
.form-auth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 460px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  .form-auth-height{
    height: 500px !important;

  }
  .form-auth-height-mobile{
    height: 530px !important;

  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  /* .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  } */
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  /* .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  } */
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
    cursor: pointer;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form-auth label {
    position: relative;
  }
  
  .form-auth label .input {
    width: 90%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }

  .form-auth label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form-auth label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
    
  }
  
  .form-auth label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form-auth label .input:valid + span {
    color: royalblue;
  }
  .mob-submit-req{
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    width: 325px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

.auth-form-span-password{
  display: flex !important;
}
.eye-icon-auth{
  font-size: 10px;
  margin-left: 5px;
  margin-top: 2px;
  color: grey;
  cursor: pointer;

}
  