.currecny-head-height{
  height: 240px;
  
  
}

.btn-converter-currency{
  width: 40%;
  
}
.converter-fields-left-margin{
  margin-left: 300px;
  
}

.Converter-Head{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.box-converter-currency{
  width: 400px;
  height: 250px ;
  border-radius: 20px;
  background-color: #eee;
  
}
.currency-button{
  width: 300px;
  height: 50px;
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  border-radius: 20px;
  /* margin-left:20px; */
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  
}
.currency-btn-input{
  font-size: 20px;
  font-weight: 500;
  color: #121212;
  align-items: center;
  position: absolute;
  top: 20%;
  right: 43%;
  cursor: pointer;
  
}
.currency-btn-input-mob{
  font-size: 20px;
  font-weight: 500;
  color: #121212;
  align-items: center;
  position: absolute;
  padding-left: 20px;
  top: 20%;
  right: 37%;
  cursor: pointer;
  
}
@media (max-width: 768px) {
  
  .currency-button{
    width: 200px;
    height: 50px;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    border-radius: 20px;
    /* margin-left:75px; */
    /* padding-left: 20px !important; */
    position: relative;
    cursor: pointer;
    
  }
  }

  .select-color
  {
    /* color: #00a1c9; */
  }

.currency-detail 
{
  font-weight: 600;
  

}

.currency-input
{
  border: 0.5px solid #ffdb1a;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  
}

.currency-from{
  font-size: 15px;
  font-family: serif;
  font-weight: 600;
  color: #ffdb1a;
}
.currency-To{
  font-size: 15px;
  font-family: serif;
  font-weight: 600;
  color: #ffdb1a;

}
.currency-input-usd::placeholder{
  color: #ffdb1a;
}
.currency-input-usd-mobile::placeholder{
  color: #ffdb1a;
}
.currency-input-usd{
   width: 300px;
   padding: 15px;
   border-radius: 10px;
   outline: none;
   border: 1px solid #ffdb1a;
   text-align: center;
  color: #ffdb1a;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;

}
.currency-input-pkr{
 width: 300px;
 font-size: 15px;
  font-weight: bold;
 padding: 15px;
 border-radius: 10px;
 outline: none;
 border: 1px solid #ffdb1a;
 text-align: center;
 color: #ffdb1a;
background-color: transparent;
}
.currency-input-usd-mobile{
   width: 200px;
   padding: 10px;
   border-radius: 10px;
   font-weight: bold;
   outline: none;
   border: 1px solid #ffdb1a;
   background-color: transparent;
   text-align: center;
   font-size: 10px;
   color: #ffdb1a;
}
.currency-input-pkr-mobile{
 width: 200px;
 font-weight: bold;
 padding: 10px;
 background-color: transparent;
 border-radius: 10px;
 outline: none;
 border: 1px solid #ffdb1a;
 text-align: center;
 font-size: 10px;
 color: #ffdb1a;
}
.currency-body
    {
        padding-top: 100px;
        padding-bottom: 20px;
        height: 100%;
        font-weight: bold;
        width: 100%;
        background-color: #121212;
        /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .currency-white-box{
        width: 400px;
        height: 300px;
        background-color: #121212;
        border: 1px solid #ffdb1a;
        border-radius: 30px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }
    .currency-white-box-mobile{
        width: 250px;
        height: 300px;
        border: 1px solid #ffdb1a;
        background-color: #121212;
        border-radius: 30px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }
    .convert-heading{
      /* margin-bottom: 100px; */
    }