.currecny-head-height{
  height: 240px;
  
  
}

.btn-converter-currency{
  width: 40%;
  
}
.converter-fields-left-margin{
  margin-left: 300px;
  
}

.Converter-Head{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.box-converter-currency{
  width: 400px;
  height: 250px ;
  border-radius: 20px;
  background-color: #eee;
  
}
.currency-button{
  width: 300px;
  height: 50px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border-radius: 20px;
  /* margin-left:20px; */
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  
}
.currency-btn-input{
  font-size: 20px;
  font-weight: 500;
  color: white;
  align-items: center;
  position: absolute;
  top: 20%;
  right: 43%;
  cursor: pointer;
  
}
@media (max-width: 768px) {
  
  .currency-button{
    width: 300px;
    height: 50px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border-radius: 20px;
    /* margin-left:75px; */
    position: relative;
    cursor: pointer;
    
  }
  }

  .select-color
  {
    color: #00a1c9;
  }

.currency-detail 
{
  font-weight: 600;
  

}

.currency-input
{
  border: 0.5px solid grey;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  
}

.currency-from{
  font-size: 15px;
  font-family: serif;
  font-weight: 600;
}
.currency-To{
  font-size: 15px;
  font-family: serif;
  font-weight: 600;
}
.currency-input-usd{
   width: 300px;
   padding: 10px;
   border-radius: 10px;
   outline: none;
   border: 1px solid grey;
   text-align: center;
   font-size: 10px;
   color: black;
}
.currency-input-pkr{
 width: 300px;
 padding: 10px;
 border-radius: 10px;
 outline: none;
 border: 1px solid grey;
 text-align: center;
 font-size: 10px;
 color: black;
}
.currency-body
    {
        height: 100vh;
        width: 100%;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .currency-white-box{
        width: 400px;
        height: 300px;
        background-color: #eee;
        border-radius: 30px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }
    .convert-heading{
      /* margin-bottom: 100px; */
    }