.body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.ImgStack{
    height: 500px;
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ImgStacktwo{
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.imgOne{
    height: 500px;
    width: 400px;
    /* padding: 20px; */
    border-radius: 10px;
    border: 2px solid grey;
    transition: 0.5s;
}
.imgOne:hover{
    transition: 0.5s ease;
    
    padding: 30px;
}
.div_1{
cursor: pointer;
}
.div_2{
    margin-left: 20px;
    cursor: pointer;
}
.div_3{
    cursor: pointer;
    margin-left: 20px;

}
.ug{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 30px;
    color:#1da1fe;
    font-weight: 600;


}


/* //mobile  */
@media (max-width: 768px) {
    .body{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 250px;
    }
    .title{
        font-size: 30px;
        color:#1da1fe;
        font-weight: 600;
        margin-left: 100px;
    
    }

    .ImgStack{
        height: 400px;
        width: 100%;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .div_2{
        margin-top: 10px;
        margin-right: 20px;
    }
    .imgOne{
        height: 500px;
        width: 300px;
        border-radius: 10px;
        border: 2px solid grey;
        transition: 0.5s;
    }
}