@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    /* *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins',sans-serif;
    } */

    /* //refferal modal css */
    .refferal-modal-invite{
      background: linear-gradient(135deg, #71b7e6, #9b59b6);

    }
    .planform-converter-div{
      max-width: 300px;
      width: 300px;
      /* width: 30%; */
      height: 300px;
      margin-left: 50px;
      background-color: #fff;
      padding: 25px 30px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }
    
    .pplanform-3nd-currency{
      font-size: 15px;
      font-weight: 600;
      color: blue;
      margin-left: 50px;
    }
    .PlanForm-Head{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-family: 'Poppins',sans-serif;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }
    .PlanForm-Head-modal-auth{
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-family: 'Poppins',sans-serif;
      /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
      position: absolute;
      z-index: 10;
    }
    .Invest-Container{
      max-width: 700px;
      width: 100%;
      /* width: 30%; */
      height: 570px;
      background-color: #fff;
      padding: 25px 30px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }
    .Invest-Container-mobile-planform{
      max-width: 700px;
      width: 100%;
      /* width: 30%; */
      height: 630px;
      background-color: #fff;
      padding: 25px 30px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }
    .signin-height{
      height: 350px !important;

    }
    .signup-height{
      height: 570px !important;

    }
    .Invest-Container-authform{
      max-width: 700px;
      width: 30%;
      height: 450px;
      background-color: #fff;
      padding: 25px 30px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }
    
    .Invest-Container-authform-signin{
      max-width: 700px;
      width: 30%;
      height: 300px;
      background-color: #fff;
      padding: 25px 30px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }
    .Invest-Container-authform-singin-height{
      max-width: 700px;
      width: 30%;
      height: 300px;
      background-color: #fff;
      padding: 25px 30px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }
    .planfirm-space-span{
      margin-left: 250px;
    }
    .planfirm-space-span-address{
      margin-left: 200px;
    }
    
    .PlanForm-select{
      outline: none;
      font-size: 16px;
      border-radius: 5px;
      /* padding-left: 15px; */
      border: 1px solid #ccc;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
      margin-left: 80px;
      display: flex;
      /* justify-content: space-between; */
    }
    .PlanForm-select-main{
      outline: none;
      font-size: 16px;
      border-radius: 5px;
      /* padding-left: 15px; */
      border: 1px solid #ccc;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
      margin-left: 235px;
      display: flex;
      /* justify-content: space-between; */
    }
    .PlanForm-select-mobile{
      outline: none;
      font-size: 16px;
      border-radius: 5px;
      /* padding-left: 15px; */
      border: 1px solid #ccc;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
      /* display: flex; */
      /* justify-content: space-between; */
    }
    
    .PlanForm-select-usd{
      outline: none;
      font-size: 16px;
      border-radius: 5px;
      /* padding-left: 15px; */
      border: 1px solid #ccc;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
      display: flex;
      justify-content: space-between;
    }
    .user-details .input-box select:focus{
      border-color: #9b59b6;
    }
    
    .PlanForm-Amount-error{
      color: red;
      font-size: 15px !important;
      display: flex;
      justify-content: center;
    }
    .Invest-Container .title{
      font-size: 25px;
      font-weight: 500;
      position: relative;
      /* justify-content: space-between; */
            
    }
    .mobile-planform-title{
      font-size: 25px;
      font-weight: 500;
      position: relative;
      justify-content: space-between;
      color: #71b7e6;
    }
    .trc-address-text
    {
      font-size: 14px;
    }
    /* .Invest-Container .title::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 30px;
      border-radius: 5px;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
    } */
    .Invest-Container form .user-details{
      display: flex;
      flex-wrap: wrap;
      /* flex-direction: column; */
      justify-content: space-between;
      margin: 20px 0 12px 0;
    }
    form .user-details .input-box{
      margin-bottom: 15px;
      width: calc(100% / 2 - 20px);
    }
    form .user-details .input-box{
      margin-bottom: 15px;
      width: calc(100% / 2 - 20px);
    }
    form .user-details-auth .input-box{
      margin-bottom: 15px;
      width: calc(100% / 2 - 20px);
    }
    form .input-box span.details{
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .user-details .input-box input{
      height: 45px;
      width: 100%;
      /* width: 330px; */
      outline: none;
      font-size: 16px;
      border-radius: 5px;
      padding-left: 15px;
      border: 1px solid #ccc;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
    }
    .user-details-auth .input-box-auth input{
      height: 45px;
      width: 100%;
      /* width: 330px; */
      outline: none;
      font-size: 16px;
      border-radius: 5px;
      padding-left: 15px;
      border: 1px solid #ccc;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
    }
    .user-details .input-box input:focus,
    .user-details .input-box input:valid{
      border-color: #9b59b6;
    }
    .user-details-auth .input-box-auth input:focus,
    .user-details-auth .input-box-auth input:valid{
      border-color: #9b59b6;
    }
     form .gender-details .gender-title{
      font-size: 20px;
      font-weight: 500;
     }
     form .category{
       display: flex;
       width: 80%;
       margin: 14px 0 ;
       justify-content: space-between;
     }
     form .category label{
       display: flex;
       align-items: center;
       cursor: pointer;
     }
     form .category label .dot{
      height: 18px;
      width: 18px;
      border-radius: 50%;
      margin-right: 10px;
      background: #d9d9d9;
      border: 5px solid transparent;
      transition: all 0.3s ease;
    }
     #dot-1:checked ~ .category label .one,
     #dot-2:checked ~ .category label .two,
     #dot-3:checked ~ .category label .three{
       background: #9b59b6;
       border-color: #d9d9d9;
     }
     form input[type="radio"]{
       display: none;
     }
     form .button{
       height: 45px;
       margin: 35px 0
     }
     form .button input{
       height: 100%;
       width: 100%;
       /* padding-left: 270px; for auth  */
       border-radius: 5px;
       border: none;
       color: #fff;
       font-size: 18px;
       font-weight: 500;
       letter-spacing: 1px;
       cursor: pointer;
       transition: all 0.3s ease;
       background: linear-gradient(135deg, #71b7e6, #9b59b6);
     }
     form .button-auth input{
       height: 100%;
       width: 100%;
       /* padding-left: 120px; */
       border-radius: 5px;
       margin-top: 10px;
       margin-bottom: 10px;
       border: none;
       color: #fff;
       font-size: 18px;
       font-weight: 500;
       letter-spacing: 1px;
       cursor: pointer;
       transition: all 0.3s ease;
       background: linear-gradient(135deg, #71b7e6, #9b59b6);
     }
     form .button input:hover{
      /* transform: scale(0.99); */
      background: linear-gradient(-135deg, #71b7e6, #9b59b6);
      }
     form .button-auth input:hover{
      /* transform: scale(0.99); */
      background: linear-gradient(-135deg, #71b7e6, #9b59b6);
      }
     @media(max-width: 584px){
     .container{
      max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
      }
      form .category{
        width: 100%;
      }
      .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
      }
      .content form .user-details-auth{
        max-height: 300px;
        overflow-y: scroll;
      }
      .user-details::-webkit-scrollbar{
        width: 5px;
      }
      }
      @media(max-width: 459px){
      .container .content .category{
        flex-direction: column;
      }
    }

    #custom-button {
      margin-top:20px;
      margin-left:2px;
      padding: 10px;
      color: white;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
      border: 1px solid #000;
      border-radius: 5px;
      cursor: pointer;
    }
    
    
    
    #custom-text {
      margin-left: 10px;
      font-family: sans-serif;
      color: #aaa;
    }
    .Address{
      font-size:15px;
      font-weight: 500;
    }
    .wallet{
      font-size:20px;
      font-weight: 900;
      
    }

    .custum-file-upload {
      margin-top:17px;
height: 50px;
width: 150px;
display: flex;
align-items: space-between;
gap: 20px;
cursor: pointer;
font-size: 10px;
/* align-items: center;
justify-content: center; */
border: 2px dashed #cacaca;
/* // background-color: rgba(255, 255, 255, 1); */
/* // background: linear-gradient(135deg, #71b7e6, #9b59b6); */
/* padding: 1.5rem; */
border-radius: 10px;
box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
display: flex;
align-items: center;
justify-content: center;

}

.custum-file-upload .icon svg {
height: 30px;
fill: rgba(75, 85, 99, 1);

}

.custum-file-upload .text {
display: flex;
align-items: center;
justify-content: center;
}
.PlanForm-investment-error{
  color: red;
  font-weight: 700;
}
.PlanForm-investment-error-green{
  color: green;
  font-weight: 700;
}

.custum-file-upload .text span {
font-weight: 400;
color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
display: none;
}


.authform-cancel-modal-button{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* bottom spans  */

.authform-invest-spanone{
  padding-left: 80px;
}
.authform-invest-spantwo{
  cursor: pointer;
  color: navy;
  font-weight: bold;
}
.authform-text-submit{
  text-align: center;
}