.Player-Main{
    height:100vh;
    width:100vw;
    display:flex;
    /* justify-content: space-around; */
    padding-left: 50px;
    align-items: center;

} 
.yt{
    pointer-events: none;
    /* background-color: red; */
    /* bottom: 50px; */
    /* position: absolute; */
   background-color: #121212;

    }
.Player-Color{
   background-color: #121212;
   background: #121212;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */

}
.Player-next{
    position: absolute ;
    right: 4%;
    top: 10%;
    display: flex;
    flex-direction: column;
    
    
}
.dailywork-textarea{
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 13px !important;
    outline: none;
    height: 100px;
    width: 200px;
    padding: 10px;
    font-weight: bold;
}
.BTN-PLAYER-M{
    margin-bottom: 10px;
}
.dailywork-label,
.dailywork-textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.done-btn-videoplayer{
  margin-top: 40px;
  background-color: #121212;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  width: 80px;
}

.dailywork-area {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #121212;
}

.dailywork-label {
  display: block;
  margin-bottom: 10px;
}

.iframe-body-right{
  height: 400px;
  width: 70px;
  background-color: transparent;
  z-index: 50;
  top: 20%;
  left: 0%;
  
  position: absolute;
}
.iframe-body-left{
  height: 400px;
  width: 230px;
  background-color: transparent;
  z-index: 50;
  top: 20%;
  left: 35%;
  
  position: absolute;
}
.iframe-body-mid{
  height: 240px;
  width: 80px;
  background-color: transparent;
  z-index: 50;
  top: 20%;
  left: 18%;
  
  position: absolute;
}


    
