
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
    z-index: 10;
    font-size: 20px;
    
}

.sidebar:hover {
    width: 260px;
}
.section-title-sidebar {
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.sidebar .sidebar-logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
	
    
}
.sidebar-logo img{
    height: 100px;
    width: 100px;

}

.sidebar-logo img {
    width: 50px;
    border-radius: 30%;
}

.sidebar-logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .sidebar-logo h2 {
    display: block;
}


.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}
.SideBar-Investment-Span{
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}
.sidebar:hover .links li .SideBar-Investment-Span {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}
@media (max-width: 768px) {
    /* //chart */
    .chart-table-text-mob{
        font-size: 8px;
	/* font-family: sans-serif; */
	font-weight: bold;

    }
    .sidebar:hover {
        width: 160px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(17px);
        --webkit-backdrop-filter: blur(17px);
        border-right: 1px solid rgba(255, 255, 255, 0.7);
        transition: width 0.3s ease;
        z-index: 10;
        /* font-size: 20px; */
        font-size: 15px;
    }
}