.body{
    background-color: #121212;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}
.tableContainer{
    padding: 0 10%;
    padding: 40px auto 0;
}
.heading{
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
    color: #ffdb1a !important;
    margin-bottom: 40px;
}
.table{
    width: 100%;
    border-collapse: collapse;

}
.table thead{
    background-color: #ffdb1a;
}
.table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #ffdb1a;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #ffdb1a;
}
.table tbody tr td{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color: #ffdb1a;
    background-color: #121212;
    padding: 8px;
    text-align: center;
    border: 1px solid #ffdb1a;
}
.table .text_open{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.35px;
    color: #ffdb1a;
}
.table tbody tr td .btn{
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #ffdb1a;
    font-weight: medium;
    color: #ffdb1a;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid ffdb1a;
    font-size: 14px;
    opacity: 1;
}

@media(max-width: 768px)
{
    .body{
        /* background-color: #32312f; */
	background-image: linear-gradient(60deg, #121212 0%, #121212 100%);

        font-family: sans-serif;
        width: 100%;
        color: ffdb1a;
        height: 100%;
    }
    .table{
        height: 100% !important;
        
    }
    .table_one{
        height: 100vh !important;
        
    }
    
    .emailtd{
        font-size: 10px !important;
        font-weight: bold;
    }
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr,.table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        /* padding: 50%; */
        position: relative;
    }
    .table td:before{
        content: attr(data-lable);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }

}